*{
    color:#fff;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: medium;
    background-image: url("../images/background.jpg");
    background-size: 500px 565px;
}

/*MAIN MENU*/
nav{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #0761a0;
}

.dropdown-menu-dark{
    background-color: #0761a0;
}

#navbarNavDropdown .dropdown-toggle::after {
    content: none;
}

.dropdown-menu .dropdown-menu {
    left: 100%;
	top: 0;
}

/*FOOTER*/
footer{
    background-color: #0761a0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

footer ul{
    border-bottom:1px solid rgb(69, 69, 69);
}

footer .nav-link, footer p, footer a{
    color: #408fc7;
}

footer .nav-link:hover, footer a:hover{
    color: #074571;
}